## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [6]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [14]:
data[data['sex']=='Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [141]:
len(data[data['native-country']=='United-States'])/len(data)

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [36]:
print("mean age >50k",data[data['salary']=='>50K']['age'].mean())
print("std age >50k",data[data['salary']=='>50K']['age'].std())
print("mean age <=50k",data[data['salary']=='<=50K']['age'].mean())
print("std age <=50k",data[data['salary']=='<=50K']['age'].std())

mean age >50k 44.24984058155847
std age >50k 10.519027719851826
mean age <=50k 36.78373786407767
std age <=50k 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [225]:
big_salary=data[data['salary']=='>50K']
options=['Bachelors','Masters','Doctorate','Prof-school','Assoc-acdm','Assoc-voc']
print(len(big_salary[big_salary['education'].isin(options)])==len(big_salary))

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [99]:
data_grp=data.groupby(['race','sex'])['age']
print(data_grp.describe().round(1))
print(data_grp.get_group(('Asian-Pac-Islander','Male')).describe()['max'])

                             count  mean   std   min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female    119.0  37.1  13.1  17.0  27.0  36.0  46.0  80.0
                   Male      192.0  37.2  12.0  17.0  28.0  35.0  45.0  82.0
Asian-Pac-Islander Female    346.0  35.1  12.3  17.0  25.0  33.0  43.8  75.0
                   Male      693.0  39.1  12.9  18.0  29.0  37.0  46.0  90.0
Black              Female   1555.0  37.9  12.6  17.0  28.0  37.0  46.0  90.0
                   Male     1569.0  37.7  12.9  17.0  27.0  36.0  46.0  90.0
Other              Female    109.0  31.7  11.6  17.0  23.0  29.0  39.0  74.0
                   Male      162.0  34.7  11.4  17.0  26.0  32.0  42.0  77.0
White              Female   8642.0  36.8  14.3  17.0  25.0  35.0  46.0  90.0
                   Male    19174.0  39.7  13.4  17.0  29.0  38.0  49.0  90.0
90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [174]:
dt_mr=data[data['marital-status'].str.contains('^Married')]
dt_bch=data[data['marital-status'].str.contains('^Married')!=True]
print("percent of rich married:",len(dt_mr[dt_mr['salary']=='>50K'])/len(dt_mr))
print("percent of rich unmarried:",len(dt_bch[dt_bch['salary']=='>50K'])/len(dt_bch))

percent of rich married: 0.43692028280469614
percent of rich unmarried: 0.0644540363975735

# Больше доля зарабатывающих много среди женатых

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [176]:
max_hour=data['hours-per-week'].max()
dt_hours=data[data['hours-per-week']==max_hour]
print("hardworking people:",len(dt_hours))
print("percent of rich among them",len(dt_hours[dt_hours['salary']=='>50K'])/len(dt_hours))

hardworking people: 85
percent of rich among them 0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [194]:
data.groupby(['salary','native-country'])['hours-per-week'].mean()

salary  native-country
<=50K   ?                  40.164760
        Cambodia           41.416667
        Canada             37.914634
        China              37.381818
        Columbia           38.684211
                             ...
>50K    Thailand           58.333333
        Trinadad&Tobago    40.000000
        United-States      45.505369
        Vietnam            39.200000
        Yugoslavia         49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [6]:
def fun(x):
    if(16<=x<35):
        return "young"
    if(x<70):
        return "adult"
    return "retiree"
data['AgeGroup']=data.apply( lambda row : fun(row.age),axis=1)
age_grp=data.groupby('AgeGroup')
age_grp.describe()

              age                                                      fnlwgt  \
            count       mean       std   min   25%   50%   75%   max    count
AgeGroup
adult     17883.0  47.060504  8.753482  35.0  40.0  46.0  53.0  69.0  17883.0
retiree     629.0  75.535771  5.446094  70.0  71.0  74.0  78.0  90.0    629.0
young     14049.0  26.134387  4.977786  17.0  22.0  26.0  30.0  34.0  14049.0

                         ... capital-loss         hours-per-week             \
                   mean  ...          75%     max          count       mean
AgeGroup                 ...
adult     184376.165464  ...          0.0  4356.0        17883.0  42.420120
retiree   170591.841017  ...          0.0  4356.0          629.0  27.104928
young     197513.855577  ...          0.0  3770.0        14049.0  38.510641


                std  min   25%   50%   75%   max
AgeGroup
adult     11.657200  1.0  40.0  40.0  48.0  99.0
retiree   16.515052  1.0  15.0  25.0  40.0  99.0
young     12.309264  1.0  35.0  40.0  40.0  99.0

[3 rows x 48 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [58]:
salary_by_group=data.groupby(['AgeGroup','salary']).size()[:,'>50K']
print(salary_by_group)
max_value=max(salary_by_group)
for key,value in salary_by_group.items():
    if(max_value==value):
        print("max of rich in:",key)

AgeGroup
adult      6240
retiree     113
young      1488
dtype: int64
max of rich in: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [12]:
occup_by_group=data.groupby('occupation')
print(occup_by_group.size())
def filter_func(group):
    return((group['age'].mean()<=40) & (group['hours-per-week'].min()>5))
occup_by_group.filter(filter_func)

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
442,24,Federal-gov,191073,HS-grad,9,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,<=50K
1300,29,Federal-gov,301010,Some-college,10,Never-married,Armed-Forces,Not-in-family,Black,Male,0,0,60,United-States,<=50K
14613,39,Federal-gov,227597,HS-grad,9,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,50,United-States,<=50K
16111,24,Federal-gov,287988,Bachelors,13,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,40,United-States,<=50K
18034,34,Federal-gov,172716,12th,8,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,0,40,United-States,<=50K
18644,23,Federal-gov,163870,Some-college,10,Never-married,Armed-Forces,Other-relative,White,Male,0,0,40,United-States,<=50K
18769,30,Federal-gov,76313,HS-grad,9,Married-civ-spouse,Armed-Forces,Other-relative,Amer-Indian-Eskimo,Male,0,0,48,United-States,<=50K
25799,46,Federal-gov,344415,Masters,14,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,1887,40,United-States,>50K
32316,23,Federal-gov,173851,HS-grad,9,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,8,United-States,<=50K